/************************************** Menu**************************************/
@font-face {
  font-family: 'Lato';
  src: url("../recursos/fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Titillium Web';
  src: url("../recursos/fonts/TitilliumWeb-Regular.ttf") format("truetype"); }
  body{
    font-family: "Lato", sans-serif;
  }

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
   
  }
  
  .header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100; 
    background: #134b11;
    padding: .65rem 0;
  }  
  
  .header a {
    background-color: #134b11;
    color: #f2f2f2;
    text-decoration: none;
  }
  
    /************************* estilos para los elementos del menu *******************************/
  .navigation ul {
    min-width: 200px;
    text-align: center;
    font-size: 1.2rem;
    margin:0;
    padding: 0;
    list-style: none;
  }
  
  .navigation >ul >li {
    display: inline-block;
  }
       
  .submenu{
      z-index: 100;
      position:absolute;
      display:none;
  }
  
  .navigation >ul >li:hover > ul{
      display:block;
      position:flex;
      min-width:140px;
      z-index: 100;
      background: #f2f2f2;
      color: #a67a46ff;
    }
    .logomenu{
      min-width: 200px;
      min-height: 50px;
      position: absolute; 
      top: 0; 
      left: 0;
      padding-left: 5px;
}

      /*****************************  Cuando esten dentro del menu ********************************** */
      .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.2s linear;
      }
      
      .navigation ul li a:hover {
          background: #f2f2f2;
          color: #a67a46ff;
          border-radius: 5px;
      
      }
/* verificacion*/
.Tittle, .sub{
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #a67a46ff;
  text-shadow: 1px 1px 2px #134b11;
}
.sub{
  font-size: 25px;
  color:#134b11 ;
  
}
.cont-img{
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  height: 100%; 
}

.parrafo{
  color: #f2f2f2;
  padding: 15px 50px;
  width: 90%;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 35px 35px 35px;
  text-align: center;
  box-shadow: 15px 15px 15px darkgrey ;
  text-shadow:1px 1px 2px rgb(44, 44, 44);
  border: 2px solid #134b11;
  background:url("../IMG/banner.png") no-repeat center;
  font-size: 25px;
  margin: 5px;
}

.i{
  font-size: 25px;
  text-align: justify !important;
  padding-left: 150px !important;
}
.const,.const-img {
  display: inline-block;
  width: 40%;
  padding: 0px 25px 0px 0px;
  margin: 2px;    
}
.const img,.const-img img {
  width: 100%;
  height: 100%;
}
.const-img{
  width: 20% !important;
  height: 50%;
  padding: 0px 10px 0px 0px !important;   
}
.con-p{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.sect{
  justify-content: center;
  align-items: center;
  margin:auto;
  width: 80%;
  padding: 50px;
}